# Minimal requirements for the codelab project
# Note: for JAX, prefer installing platform-specific wheels as recommended at https://jax.readthedocs.io/
flax
optax
jax
jaxlib
tensorflow>=2.11
tensorflow-datasets
plotly
numpy
tqdm

# Optional: static image export for Plotly
kaleido
